$artbrush: 'artbrushmedium', 'Brush Script Std', sans-serif;
$red: #ED302E;
$white: #f9f0cb;
$tablet: 1024px;
$mobile: 768px;

@import "partials/reset";
@import "partials/modal";
@import "partials/artbrush-fontkit";

@define-mixin clearfix {
  &::after {
    content: " ";
    display: table;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

html {
  min-height: 100%;
}

body {
  background: $white url('../img/bg-texture.gif') 0 0 repeat;
  background-size: cover;
  font-size: 24px;
  padding: 3.5em;
  width: unset!important;
  min-height: 100%;
  position: relative;

  @media (max-width: $mobile) {
    padding: 1em;
  }
}

.container {
  margin: 0 auto;
  padding: 0;
  border: 0.2em solid $red;
  max-width: 1049px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  @mixin clearfix;
}

.text-content {
  float: right;
  width: 40%;
  padding: 2em 2em 0 0;
  box-sizing: border-box;
  color: $red;
  font-family: $artbrush;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;

  @media (max-width: $mobile) {
    float: none;
    width: 100%;
    margin: 2em 0 1em;
    padding: 0 2em;
  }

  p {
    margin: 1.5em 0;
  }
}

.discretionary-br {
  @media (max-width: 1150px) {
    display: none;
  }
}

.dc-logo {
  width: 129px;
  max-width: 90%;
}

.stubby-container {
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0 1em 0 0;
  position: relative;
  text-align: right;

  @media (max-width: $tablet) {
    padding-right: 0;
  }

  @media (max-width: $mobile) {
    float: none;
    width: 100%;
    padding-right: 1em;
  }
}

.stubby-body {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 27%;
  width: 431px;

  @media (max-width: $mobile) {
    max-width: 70%;
  }
}

.stubby-bubble {
  width: 496px;
  position: absolute;
  top: 5%;
  left: -7%;
  max-width: 80%;
}

.big-cta {
  text-decoration: none;
  display: block;
  margin: 0.5em 0;
  padding: 0;
  cursor: pointer;

  img, object, svg, body {
    display: inline-block;
    width: 260px;
    height: 63px;
    max-width: 90%;
    padding: 0;
  }

  &:hover object {
    .a {

      fill: #f6ecc9;
      strokedddd: #ed302e;
      stroke-width: 10px;
    }
    .b {
      fill: #ed302e;
    }
  }
}

.texture-foreground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  background-image: url('../img/fg-texture.png');
  background-size: cover;
}

html.ie .texture-foreground {
  display: none;
}